@font-face {
    font-family: atrapalodisplay;
    src: url(../fonts/atrapalodisplay.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: atrapaloroundeddisplay;
    src: url(../fonts/atrapaloroundeddisplay.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: atrapaloscr;
    src: url(../fonts/atrapaloscr.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: atrapaloico;
    src: url(../fonts/atrapaloico.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

body {
    font-family: 'Open Sans', sans-serif;;
}

h1,
h2 {
    font-family: atrapaloroundeddisplay;
}

h1,
h2 {
    font-size: 102px;

    @include media-breakpoint-down(sm) {
        font-size: 62px;
    }

    strong {
        font-size: 130px;

        @include media-breakpoint-down(sm) {
            font-size: 90px;
        }
    }
}


h1 {
    color: #cc50ac;
    line-height: 80px;

    @include media-breakpoint-down(sm) {
        line-height: 50px;
    }

    strong {
        color: #ea6a80;
        line-height: 110px;

        @include media-breakpoint-down(sm) {
            line-height: 80px;
        }
    }
}

h2 {
    #tucasa & {
        color: white;
    }
}

h3 {
    font-family: atrapalodisplay;
    font-size: 38.6px;
    line-height: 1;
}
