// bower:scss
// endbower

@import "../../bower_components/bootstrap/scss/bootstrap";

@import "typo";
@import "footer";

img {
  max-width: 100%;
}

header {
  background-color: #d5f8f5;
  position: relative;

  @include media-breakpoint-down(sm) {
      height: 100vh;
  }
}

.logo {
  position: relative;

  @include media-breakpoint-down(sm) {
    margin-top: 8vh;
  }

  p {
    position: absolute;
    right: 15vw;
    bottom: 0;
    z-index: 2;
    //transform: translatey(20%);

    @include media-breakpoint-down(sm) {
      right: 0;
      transform: translatey(130%);
    }
  }
}

.teaser {
  margin-top: -10vw;
  margin-bottom: -25vw;

  @include media-breakpoint-down(sm) {
    position: absolute;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }

  &--woman {
    width: 100%;
    height: 25vw;
    background: url(../images/fondo_home_02.svg) top center no-repeat;
    background-size: 110% auto;
    position: sticky;
    bottom: 0;

    @include media-breakpoint-down(sm) {
      position: absolute;
    }
  }
}

#mainmenu {
  font-family: atrapalodisplay;
  font-size: 28px;

  a {
    color: #112f3f;

    &:hover,
    &:focus {
        color: #cc50ac;
    }

    @include media-breakpoint-down(sm) {
      padding: 0.5rem 0.85rem;
    }
  }
}

// .main {
//   > section {
//     padding: 50px 0;
//   }
// }

.orange {
  h2, h3, &.foldblock a {
    color: #e58964;
  }
  #tucasa & a,
  .carousel-indicators li.active {
    background-color: #e58964;
  }
  #tucasa & a:hover,
  .carousel-indicators li {
    background-color: #ecaa8f;
  }
}
.violet {
  h2, h3, &.foldblock a {
    color: #9c5892;
  }
  #tucasa & a,
  .carousel-indicators li.active {
    background-color: #9c5892;
  }
  #tucasa & a:hover,
  .carousel-indicators li {
    background-color: lighten(#9c5892, 20%);
  }
}
.purple {
  h2, h3, &.foldblock a {
    color: #67608b;
  }
  #tucasa & a,
  .carousel-indicators li.active {
    background-color: #67608b;
  }
  #tucasa & a:hover,
  .carousel-indicators li {
    background-color: lighten(#67608b, 20%);
  }
}
.blue {
  h2, h3, &.foldblock a {
    color: #223240;
  }
  #tucasa & a,
  .carousel-indicators li.active {
    background-color: #223240;
  }
  #tucasa & a:hover,
  .carousel-indicators li {
    background-color: lighten(#223240, 30%);
  }
}

#tucasa {
  background-color: #4EB9A1;
  padding: 0 0 50px 0;

  img {
    margin-bottom: 30px;
  }

  h3 {
    height: 78px;
    margin-bottom: 10px;
    position: relative;

    @include media-breakpoint-down(sm) {
      height: auto;
    }

    span {
      position: absolute;
      bottom: 0;

      @include media-breakpoint-down(sm) {
        position: static;
      }
    }
  }

  p {
    margin-bottom: 60px;
  }

  .seemore {
    display: inline-block;
    font-family: atrapaloscr;
    font-size: 20px;
    text-align: center;
    padding: 0 35px;
    line-height: 2em;
    border-radius: 50px;
    color: white;
    background-color: purple;
    position: absolute;
    bottom: 0;
    cursor: pointer;
  }

  @include media-breakpoint-down(sm) {
    .col-md-3 {
      margin-bottom: 50px;
    }
  }

}

.foldblock {
  display: none;
  overflow: hidden;
  position: relative;
  transition: height 1s ease;

  &.show {
    display: block;
    height: auto;
    padding: 50px 0 0;
  }

  &--contents {
    align-items: center;

    p {

      @include media-breakpoint-up(xl) {
        margin-bottom: 0;
      }
    }
  }

  .nav {
    display: block;
  }

  a {
    font-size: 31px;
    font-weight: bold;
    white-space: nowrap;

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }

    &:before {
      content: ">";
      display: inline-block;
      margin-right: 5px;
      margin-left: 0;
      transition: .3s margin;
    }

    &:hover {
      &:before {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
}

.carousel {
  margin-top: 30px;
  padding-bottom: 40px;
}

.carousel-indicators {
  width: 100%;
  margin: 0;
  bottom: 0;

  li {
    width: auto;
    height: 6px;
    flex-grow: 1;
  }
}

.leeve {
  background: center no-repeat;
  background-size: contain;
  position: absolute;

  &--1 {
    width: 52px;
    height: 42px;
    background-image: url(../images/hoja_01.svg);
    top: 0;
    right: 1vw;
  }
  &--2 {
    width: 34px;
    height: 53px;
    background-image: url(../images/hoja_02.svg);
    top: -10vw;
    left: 5vw;
  }
  &--3 {
    width: 53px;
    height: 37px;
    background-image: url(../images/hoja_03.svg);
    top: 30vw;
    left: 0;
    transform: translatex(-100%);
  }
  &--4 {
    width: 30px;
    height: 51px;
    background-image: url(../images/hoja_04.svg);
    top: 0;
    right: 40vw;
  }
  &--5 {
    width: 41px;
    height: 42px;
    background-image: url(../images/hoja_05.svg);
    top: 0;
    right: 30vw;
  }
}

video {
  width: 100%;
  display: block;
}

#comehome {
  background-color: #bdf488;
  padding: 50px 0 0;
  position: relative;

  @include media-breakpoint-down(sm) {
      height: 100vh;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  h2 {
    color: #b25896;
    line-height: 1;

    span {
      color: #8172ac;
    }
  }

  p {
    width: 40vw;
    max-width: 512px;
    position: absolute;
    bottom: 0;
    right: 15vw;

    @include media-breakpoint-down(md) {
      width: 50vw;
      right: 5vw;
      margin-bottom: 0;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      position: static;
    }
  }
}

.videobg {
  margin-top: -5vw;

  @include media-breakpoint-down(sm) {
      position: absolute;
      bottom: 0;
      margin-top: 0;
  }

  img {
    width: 100%;
  }

}
